body{
    background: #FFFFFF;

}
#submain{
    position: absolute;
    left: 700.39990234375px;
    top: 0.9px;
    height: 1155px;
    width: 664px;
    background-color: rgb(217,81,41,1);
    border-radius: 1%;
}
#fix{
    position: fixed;
    top: 0.0px;
    height: 80px;
    width: 600px;
    background-color: #ffffff;
    z-index: 1;
}
#log{
    position: absolute;
    height: 28px;
    width: 117px;
    left: 150px;
    top: 10px;
    border-radius: nullpx;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color:  rgb(217, 81, 41);
}
#logo{
    position: absolute;
    height: 28px;
    width: 117px;
    left: 202px;
    top: 10px;
    border-radius: nullpx;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color:  rgb(196, 196, 196);
}
#per{
    position: absolute;
    height: 17px;
    width: 89px;
    left: 400px;
    top: 40px;
    font-size: 14.4px;
    border-radius: 0px;
    width: 89px;
    height: 17px;
    color:rgb( 82,82,86,100);
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.31199997663497925px;
    text-align: right;
}
#bus{
    position: absolute;
    height: 17px;
    width: 89px;
    left: 520px;
    top: 40px;
    font-size: 14.4px;
    border-radius: 0px;
    width: 89px;
    height: 17px;
    color:rgb( 82,82,86,100);
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.31199997663497925px;
    text-align: right;
}
#fix2{
    position: fixed;
    top: 0.0px;
    left: 700px;
    height: 80px;
    width: 650px;
    background-color: rgb(217, 81, 41);
    z-index: 1;
}
#cog{
    position: absolute;
    left: 920px;
    top: 45px;
    width: 100px;
    height: 15px;
    color:#ffffff;
}
#int{
    position: absolute;
    left: 940px;
    top: 45px;
    width: 100px;
    height: 15px;
    font-size: 11px;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.311px;
    color: #ffffff;
}
#abt{
    position: absolute;
    left: 1040px;
    top: 45px;
    width: 100px;
    height: 15px;
    font-size: 11px;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.311px;
    color: #ffffff;}
#login{
    position: absolute;
    left: 1120px;
    top: 32px;
    width: 87px;
    height: 39px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2.311px;
    color: #ffffff;
    background-color: rgb(217, 81, 41);
    border-color: #ffffff;
    border-width: 1px;
}
#sign{position: absolute;
    left: 1215px;
    top: 32px;
    width: 87px;
    height: 39px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1.311px;
    color: #ffffff;
    background-color: rgb(217, 81, 41);
    border-color: #ffffff;
    border-width: 1px;}
#be{
    font-family: Raleway;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -0.5183998942375183px;
    text-align: left;
    position: absolute;
    width: 351px;
    height: 96px;
    left: 145px;
    top: 182.2px;
    color: #525256;

}
#easy{
    font-family: Raleway;
    font-size: 38px;
    font-style: normal;
    font-weight: 1000;
    line-height: 48px;
    letter-spacing: -0.5183998942375183px;
    text-align: left;
    position: absolute;
    width: 351px;
    height: 96px;
    left: 305px;
    top: 230.2px;
    color: #1CA78B;
}
#lorem{
    position: absolute;
    height: 58px;
    width: 481.20001220703125px;
    left: 145px;
    top: 315.4px;
    border-radius: nullpx;     
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: #0B0B0B;
}
#pay{
    position: absolute;
    height: 84px;
    width: 610px;
    left: 145px;
    top: 425.8px;
    border-radius: 0px;
    border: 4px solid teal;
    border-right: red;
    border-bottom: red;
    border-top: red;
    border-color: teal;
    box-sizing: border-box;
    }
#fas{
    position: absolute;
    left: 710.2px;
    top: 460.2px;
    color: #979797;
    font-size: 29px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-align: center;
}
::placeholder{
    position: relative;
    height: 23px;
    left: 50px;
    max-width: auto;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 23px;
    letter-spacing: 0.6px;
    color: #BCBCBC;
}
#q{
    position: absolute;
    height: 48px;
    left: 165px; 
    top: 611.2px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 19.2px;
    line-height: 48px;
    letter-spacing: 3.336px;
    color: #000000;
}
#lit{
    position: absolute;
    left: 140px; 
    top: 648.2px;
    font-size: 19px;
    color: #000000;
}
#jamb{
    position: relative;
    left: 140px;
    top: 700.4px;
    border-radius: 5px;
    border-color: #EB6023;
    color: #EB6023;
    background-color: #ffffff;
    width: 174.8px;
    height: 54px;
    font-size: 16px;  
}
#air{
    position: relative;
    left: 140px;
    top: 700.4px;
    border-radius: 5px;
    border-color: #EB6023;
    color: #EB6023;
    background-color: #ffffff;
    width: 142.8px;
    height: 54px;
    font-size: 16px; 
}
#elec{
    position: relative;
    left: 140px;
    top: 700.4px;
    border-radius: 5px;
    border-color: #EB6023;
    color: #EB6023;
    background-color: #ffffff;
    width: 174.8px;
    height: 54px;
    font-size: 16px; 
}
#set{
    position: absolute;
    width: 241px;
    height: 54px;
    left: 140px;
    top: 768.6px;
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 16px;
}
#fgn{
    position: absolute;
    width: 241px;
    height: 54px;
    left: 390.2px;
    top: 768.6px;
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 16px;
}
#inv{
    position: absolute;
    width: 170px;
    height: 54px;
    left: 140px;
    top: 838.2px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 5px;
    font-size: 14px;
}
#rec{
    position: absolute;
    width: 267px;
    height: 54px;
    left: 320.8px;
    top: 838.2px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 5px;
    font-size: 14px;
}
#up{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 140px;
    top: 907.4px;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 5px;
    font-size: 12px;
}
#fam{
    position: absolute;
    width: 280px;
    height: 54px;
    left: 380.2px;
    top: 907.8px;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 5px;
    font-size: 12px;
}
#sal{
    position: absolute;
    width: 170px;
    height: 54px;
    left: 140px;
    top: 973.6px;
    mix-blend-mode: normal;
    opacity: 0.2; 
    border-radius: 5px;
    font-size: 10px;
}
#tax{
    position: absolute;
    width: 170px;
    height: 54px;
    left: 320.8px;
    top: 973.4px;
    mix-blend-mode: normal;
    opacity: 0.2;
    border-radius: 5px;
    font-size: 10px;
}
.d1{
    position: absolute;
    width: 254.8px;
    height: 256.57px;
    left:884.6px;
    top:143.4px;
    mix-blend-mode: normal;
    background: hsl(20, 84%, 65%);
    opacity: 0.3;
    border-radius: 9.6px;
}
.d3{
    position: absolute;
    width: 254.8px;
    height: 256.57px;
    left:884.6px;
    top:620.4px;
    background: hsl(20, 84%, 65%);
    mix-blend-mode: normal ;
    opacity: 0.3px;
    border-radius: 9.6px;
}
.d2{
    position: absolute;
    width: 284.8px;
    height: 256.57px;
    left: 870.6px;
    top: 390px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(161, 161, 161, 0.12), 0px 18px 26px rgba(119, 119, 119, 0.1), 0px 8px 42px rgba(133, 133, 133, 0.1);
    border-radius: 9.6px;
}
#mon1{
    position: absolute;
    width: 50.8px;
    height: 53.2px;
    left: 140.8px;
    top: 93.4px;
    mix-blend-mode: lighten;
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 10;
}
#mon3{
    position: absolute;
    width: 50.8px;
    height: 53.2px;
    left: 140.8px;
    top: 93.4px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.3;
}
#mon2{
    position: absolute;
    width: 50.8px;
    height: 53.2px;
    left: 140.8px;
    top: 93.4px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.3;
}

@media screen and (max-width:700px){
    html{
        ont-size: 5em
        }
    body{
        max-width: 100%;
        background-color: orange;
    }
    #log{
        position: absolute;
        left: 50px;
    }
    #logo{
        position: absolute;
        left: 105px;
    }
    #per{
        position: absolute;
        left: 185px;
    }
    #bus{
        position: absolute;
        left: 285px;
    }
    #cog{
        position: absolute;
        left: 400px;
        top: 80px;
        color: rgb(217, 81, 41);
    }
    #int{
        position: absolute;
        left: 420px;
        top: 80px;
        color: rgb(217, 81, 41);
    
    }
    #abt{
        position: absolute;
        left: 515px;
        top: 80px;
        color: rgb(217, 81, 41);
    }
    #login{
        position: absolute;
        left: 400px;
    }
    #sign{position: absolute;
        left: 500px;
    }
    #be{
        position: absolute;
        left: 50px;
        font-size: 30px;
    }
    #easy{
        position: absolute;
        left: 175px;
        font-size: 30px;
    }
    #lorem{
        position: absolute;
        left: 50px;
        top: 300px;
        font-size: 20px;
    }
    #pay{
        position: absolute;
        left: 50px;
        width: 500px;
    }
    #fas{
        position: absolute;
        left: 500.2px;
        top: 460.2px;
    }
    ::placeholder{
        position: relative;
        font-size: 15px;
        width: 200px;
    }