
@media screen and (max-width:700px){
    html{
        font-size: 5em
        }
    body{
        background-color: rgb(255, 255, 255);
    }
    #log{
        left: 80px;
    }
    #logo{
        left: 135px;
    }
    #per{
        left: 245px;
        top: 80px;
        font-size: 12px;
        display: none;
    }
    #bus{
        left: 340px; top: 80px;
        font-size: 12px; display: none;
    }
    #cog{
        left: 245px;
        top: 103px;
        color: rgb(217, 81, 41);
        display: none;
    }
    #int{
        left: 265px;
        top: 103px;
        color: rgb(217, 81, 41);
        display: none;
    
    }
    #abt{
        position: absolute;
        left: 515px;
        top: 80px;
        color: rgb(217, 81, 41);
        display: none;
    }
    #login{
        left: 230px;
    }
    #sign{
        left: 330px;
    }
    #be{
        left: 50px;
        font-size: 30px;
    }
    #easy{
        left: 175px;
        font-size: 30px;
    }
    #lorem{
        left: 50px;
        top: 300px;
        font-size: 20px;
    }
    #pay{
        left: 30px;
        width: 400px;
    }
    #fas{
        left: 390.2px;
        top: 460.2px;
    }
    ::placeholder{
        font-size: 15px; left: 20px;
        width: 100px;
    }
    #q{
        height: 48px;
        left: 45px; 
        top: 611.2px;
       }
    #lit{
        left: 30px; 
        top: 648.2px;
    }
    #jamb{
        left: 30px;
        height: 44px;
        font-size: 12px;
        width: 130px;  
    }
    #air{
        left: 35px;
        height: 44px;
        width: 130px;
        font-size: 12px; 
    }
    #elec{
        left: 40px;
        height: 44px;
        width: 130px;
        font-size: 12px; 
    }
    #set{
        width:201px;
        height: 44px;
        top: 758.6px;
        left: 30px;
        font-size: 12px;
    }
    #fgn{
        width: 201px;
        height: 44px;
        left: 240.2px;
        top: 758.6px;
        font-size: 12px;
    }
    #inv{
        width: 130px;
        height: 44px;
        left: 30px;
        top: 818.2px;
        font-size: 12px;
    }
    #rec{
        width: 230px;
        height: 44px;
        left: 170px;
        top: 818.2px;
        font-size: 12px;
    }
    #up{
        width: 200px;
        height: 44px;
        left: 30px;
        top: 877.4px;
        font-size: 10px;
    }
    #fam{
        width: 200px;
        height: 44px;
        left: 240.2px;
        top: 877.4px;
        font-size: 10px;
    }
    #sal{
        width: 130px;
        height: 44px;
        left: 30px;
        top: 930.6px;
        font-size: 10px;
    }
    #tax{
        width: 130px;
        height: 44px;
        left: 170.8px;
        top: 930.4px;
        font-size: 10px;
    }

}
